
.drop-custom{
    width: 100%;
    gap: 10px;
}

@media (max-width: 768px) { 
.d-web{
    display: none;
}
.d-mob{
    display: block;
}
.module-inner{
    padding: 15px !important;
}
.ld-fancy-heading h2{
    font-size: 28px;

}
 }

 @media (min-width: 770px) { 

    .d-mob{
        display: none;
    }
}

